h1{
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
  font-size:45px; text-align:center;
}
.saw {
  color:green;
  text-decoration:none;
}
#topMenu{
  height: 30px;
  width: 850px;
  margin:auto;
  margin-top:30px;
}
#topMenu ul li{
  list-style:none;
  color: white;
  background-color: #2d2d2d;
  line-height: 30px;
  text-align: center;
  float: left;
  vertical-align:middle;
}
#topMenu .menuLink{
  text-decoration:none;
  color:white;
  display:block;
  width: 150px;
  font-size: 12px;
  font-weight:bold;
  font-family:"Trebuchet MS", Dotum, Arial;
}
#topMenu .menuLink:hover{
  color: violet;
  background-color: #4d4d4d;
}
#hobby_youtube .laterview{
  list-style:none;
  padding-bottom:50px;
}
.drama{
  display:table;
  width:100%;
  /* padding: 56.25% 0 0 0;
  position: relative; */
}
.drama .drama_1{
  display: table-cell;
  /* vertical-align: middle; */
}
.container {
  display: flex;
  flex-wrap:wrap;
  width:850px;
  vertical-align: middle;
  align-content: center;
  justify-content: space-evenly;
  margin:auto;
  margin-top:100px;
  /* justify-content: center; */
}
